[canalInfo]

host=10.0.0.64
port=11111
client_id=1001
destination=test
batchSize=1000

[databaseInfo]

databaseName=test
tableName=eeo_class_member_time
fieldName=time_list
hadTableName=hdp_class_member_time
jsonType=phpjson

[dataInfo]

rowNum = 1
#0 single 1batch
isSqlBatch = 1

[mysqlInfo]

ipaddr=10.0.0.62
userName=test
password=test123
databaseName=test
port=61106

[logInfo]