[canalInfo]

host=10.0.0.64
port=11111
client_id=1001
destination=example1
batchSize=1000

[databaseInfo]

databaseName=eo_os
tableName=eeo_course_class
fieldName=
hadTableName=ods_eeo_class_log
jsonType=

[dataInfo]

rowNum = 1
#0 single 1batch
isSqlBatch = 0

[mysqlInfo]

ipaddr=10.0.0.62
userName=datax
password=datax123
databaseName=eo_hadoop
port=61106
[logInfo]

[sync]
incrementSync = 1